.box2{
    box-shadow: 0 0 4px 0 rgb(144 162 178 / 51%);
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
}

.font1{
    font-weight:bold;
}

.relative1{
    position:relative;
}

input.ng-touched{
  border:1px solid #dc3545;
}
input.ng-valid{
  border:1px solid #ced4da;
}

.btn-color1{
    background-color:#2e0110;
    color:#fff;
    padding:5px;
    border-radius:5px;
    width:75px;
    height:40px;
}

.btn-color{
    background-color:#000;
    color:#fff;
    font-weight: bold;
}

textarea{
    width:100%;
    border-radius: 5px;
    height:80px;
}

.align1{
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:450px;
}

.align2{
    margin-left: auto;
    margin-right: auto;
    display: inherit;
    width:200px;
}

.color2{
    background-color:#ac415b;
    color:#fff;
    font-weight:bold;
}

.color4{
    background-color:#ac415b;
    color:#fff;
    font-weight: bold;
}

.color5{
    color: #ac415b;
    font-weight:bold;
}

.ml-6{
    margin-left:63px;
}

.color3{
    color:grey;
}

.flex1{
    display: flex;
    justify-content: space-around;
}

.flex2{
    display: flex;
}

.pull-right{
    float:right;
}

/* Media Queries */

@media (min-width:320px) and (max-width:998px){
    .flex1{
        display: block;
    }
    .pull-right{
        float:none;
    }
    
    .ml-5{
        margin-left:0px !important;
        float:none;
        display:block;
    }
    .ml-4{
        margin-left:0px !important;
        float:none;
        display:block;
    }
    .ml-6{
        margin-left:0px !important;
        float:none;
        display:block;
    }
    .align1{
        width:100%;
    }
}