<div class = "col-sm-12">
    <h2 class = "font1"> Search For Jobs </h2>
    <div class = "clearfix"></div>
    <div class = "width1"></div>
    <div class = "width2">
        <i class="fas fa-search"></i>
    <input type = "text" [(ngModel)] = "searchterm" class = "text1" placeholder = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search City , Zip code" />
    </div>
    <div class = "width1"></div>
    <div class = "clearfix"></div>
    
    <div class = "flex1">
    <p class = "col-sm-11 t1"> 8 Results Found </p>
    <div class = "pull-right border1">
        
        <div (click) = "toggle()" class = "position1"><i class="fas fa-filter"></i>
         Filter
         </div> 
         <div *ngIf = "showing" class = "absolute1 box2">
             <div (click) = "toggle()" class = "pull-right"> X </div>
             <div> Job Price </div>
             <input type = "text" class = "text2" value = "$250" />
             <div> Rating </div>
             <input type = "text" class = "text2" value = "5" />
             <div> Job Done </div>
             <input type = "text" class = "text2" value = "Multum" />
             <div> Location </div>
             <input type = "text" class = "text2" value = "Washington dc" />
             <br /><br />
             <div class = "btn color7"> Apply </div>
         </div>
    </div>
    </div>
    <div class = "clearfix"></div>
    <br />
    
    <ng-container class = "col-sm-12" *ngIf = "(hotels | mysearch:searchterm) as result">
        <div class = "box2 flex1" *ngFor = "let hotel of result | paginate: { itemsPerPage: 3, currentPage: p }">
            <div class = "col-sm-10">
                <div class = "flex1">
                    <h3 class = "color1"> {{hotel.Name}} </h3>
              <i class = "ml-5">
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
              </i>
                </div>
                
                <p> {{ hotel.Address }} </p>
                <div class = "flex1">
                    
                <p class = "col-sm-4 p-0"> {{ hotel.Jobs }} </p> <p class = "col-sm-4 p-0"> {{ hotel.cost }} </p>
                </div>
                
            </div>
            <div [routerLink] = "['/nav','invites']" class = "btn color6"> Invite a Job </div>
        </div>

        <div class ="align1">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>

        <div class = "col-sm-12" *ngIf = "result.length === 0">
            <h4 class = "text-center top1"> No results Found ... </h4>
        </div>

    </ng-container>
    
</div>