<div class = "col-sm-12">
        <h2 class = "font1"> Job Details </h2>
        <div class = "clearfix"></div>
        <div *ngFor = "let item of collection| paginate: { itemsPerPage: 3, currentPage: p }" class = "box2">
            <div class = "flex1">
            <h4 class="color1 col-sm-9"> {{ item.JobName }} </h4>
            <div [routerLink] = "['/nav','message']" class = "btn color2"> Message </div>
            <div class = "btn color3"> Apply Job </div>
            </div>
            <p>
               {{ item.description }}
            </p>
        </div>
        <div class = "clearfix"></div>
        <div class ="align1">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
</div>