.clippy1{
    clip-path: circle(50% at 50% 50%);
    background-color: #ddd;
    width:21%;
    height:45%;
}

.nav{
    padding:30px;
}

.top1{
    margin-top:20px;
}

.flex1{
    display: flex;
}

.active1{
    background-image: linear-gradient(-45deg, #C43A30 0%, #874DA2 100%);
}

.color1{
    background-color:#532b48;
    color:#fff;
    border-radius: 25px;
}

.color2{
    background-color:#ac415b;
    color:#fff;
    margin-left:20px;
    border-radius: 25px;
}

.font1{
    font-weight:600;
}

.width2{
    width:20%;
    margin-top:25px;
}

.pull-left{
    float:left;
}

hr{
    height:2px;
    background-color:#ddd;
    width:200px;
}

.box2{
    box-shadow:0 0 4px 0 rgb(144 162 178 / 51%);
    padding:15px;
    border-radius:15px;
    margin-top:35px;
}