.color1{
    color:#fff;
    background-color:#ac415b;
    position:absolute;
    top:200px;
    right:0;
    left:0;
    width:400px;
    margin-left:auto;
    margin-right:auto;
}

@media (min-width:320px) and (max-width:998px){
    .color1{
        width:320px;
    }
}