          <div class = "col-sm-12">
              <h3 class = "font1"> Profile </h3>
              <div class = "box2">
                  
                  <img src = "assets/Images/user1.jfif" class ="img2 pull-left" />
                  
                  <div class = "col-sm-10">
                      <h2 class = "font1"> Wayne Mills </h2>
                      <div class = "none">
                        <p> Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; waynemills@company.com </p>
                      <p> Phone : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +1 987 765 7890 </p>
                      <p class = "left1"> Address : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 17 Howard Street <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Oswego NY 13126 <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; USA </p>
                      </div>
                      <div class = "none1">
                        <p> Email : <br /> waynemills@company.com </p>
                      <p> Phone : <br /> +1 987 765 7890 </p>
                      <p class = "left1"> Address : <br /> 17 Howard Street <br /> Oswego NY 13126 <br /> USA </p>
                      </div>
                      <p> Job History :
                        <br />
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
including versions of Lorem Ipsum.
                      </p>
                  </div>
              </div>
              <div class = "clearfix"></div>
              <h4 class = "text-center none"> Your account is currently locked. We are still awaiting the results of your background check. Please allow us up
                to 5 business days for this process. Contact Multum customer service if you have any questions.
             </h4>
             <div class = "center1">
               <a [routerLink] = "['/nav','review']"> <div class = "btn color1"> Live Chat </div> </a> &nbsp;&nbsp;&nbsp;&nbsp;
                <div class = "btn color1"> Call Us: (570) 717-5392 </div>
             </div>
            
          </div>

