<div class = "col-sm-12">
    <div class = "col-sm-12 flex1">
        <h2 class = "font1 col-sm-11"> Job 1 </h2>
    <div [routerLink] = "['/nav','past']" class = "btn btn-primary pull-right"> back </div><br /><br />
    </div>
    <div class = "clearfix"></div>
    <div class = "box2">
        <h4> Job Description </h4>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. 
        </p>
        <div class ="flex1">
        <div class = "col-sm-4">
            <h4> Address </h4>
            <p> 
                17 Howard Street<br />
    Oswego NY 13126<br />
    USA
            </p>
        </div>
        <div class = "col-sm-4">
            <h4> Date </h4>
            <p> 
                22/11/2020
            </p>
        </div>       
        <div class = "col-sm-4">
            <h4>
                Time
            </h4>
            <p>
                10:00 A.M.
            </p>
        </div>     
        </div>
    </div>
</div>