<div class = "">
    <div class = "col-sm-12">
        <h4 class = "font1"> My Invites </h4>
        <h4> Do you want to accept an invite? Go to the Job Listing and Apply for the job </h4>
        <div class ="col-sm-12 box2 flex1">
            <div class = "col-sm-9">
                <h4 class = "color1"> Invitation 1 </h4>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry </p>
            </div>
            <div class = "btn color2"> Decline </div> 
            <div class = "btn color3"> Go to Job List </div>
        </div>
    </div>
</div>
