<div class = "">
    <div class = "col-sm-12">
        <h4 class = "font1"> My Invites </h4>
        <h4> Do you want to accept an invite? Go to the Job Listing and Apply for the job </h4>
        <div *ngFor = "let item of collection| paginate: { itemsPerPage: 3, currentPage: p }" class ="col-sm-12 box2 flex1">
            <div class = "col-sm-9">
                <h4 class = "color1"> {{item.JobName}} </h4>
                <p> {{ item.description }} </p>
            </div>
            <div class = "btn color2"> Decline </div> 
            <div class = "btn color3"> Go to Job List </div>
        </div>

    <div class = "clearfix"></div>
    <div class ="align1">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    </div>
</div>
