  <div class = "col-sm-12 p-0 flex1">
    <div class = "pull-left col-sm-8 bg-image2">
      <!-- <img class = "img" src = "assets/Images/login-img.jpg" /> -->
    </div>
    <div class = "col-sm-4 top1">
      <img class = "img1" src = "assets/Images/logo-icon.svg" />
      <h1 class = "text-center"> Multum </h1>
  
      <ul class = "nav nav-pills center">
        <li [class.active] = "viewmode == 'service'"><a (click) = "viewmode = 'service'"> Service Provider </a></li>
        <li [class.active] = "viewmode == 'customer'"><a (click) = "viewmode = 'customer'"> Customer </a></li>
      </ul>
      
      <br />
      <br />
      
      <div class = "center1" [ngSwitch] = "viewmode">
        <div *ngSwitchCase ="'service'"> 
          <form [formGroup]="registerForm" (ngSubmit)="addPerson()">
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label>User Name</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" [(ngModel)] = "person.username" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">User Name is required</div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)] = "person.password" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
            </div> <br />
            <button [disabled]="!registerForm.valid" type = "submit" class="btn btn-color">  LOGIN   </button> 
            </form>
          <br />

          <input type = "checkbox" />
      <b> Remember Me </b>&nbsp;&nbsp;&nbsp;
  
      <b class = "pull-right"> Forgot Password ? </b>
  
      <br />
      <br />
      <b class = "center2"> Don't have an account ? &nbsp;&nbsp; <a routerLink="/signup">signup</a> </b>
        </div>
          <div *ngSwitchCase ="'customer'">
            <form [formGroup]="registerForm1" (ngSubmit)="addPerson1()">
              <div class="form-row">
                  <div class="form-group col-sm-12">
                      <label>User Name</label>
                      <input type="text" formControlName="username1" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.username1.errors }" [(ngModel)] = "person3.username1" />
                      <div *ngIf="submitted1 && f1.username1.errors" class="invalid-feedback">
                          <div *ngIf="f1.username1.errors.required">User Name is required</div>
                      </div>
                  </div>
                  <div class="form-group col-sm-12">
                      <label>Password</label>
                      <input type="password" formControlName="password1" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.password1.errors }" [(ngModel)] = "person3.password1" />
                      <div *ngIf="submitted1 && f1.password1.errors" class="invalid-feedback">
                          <div *ngIf="f1.password1.errors.required">Password is required</div>
                      </div>
                  </div>
              </div> <br />
              <button type = "submit" [disabled]="!registerForm1.valid" class="btn btn-color">  LOGIN   </button> 
              </form>

        <input type = "checkbox" />
    <b> Remember Me </b>&nbsp;&nbsp;&nbsp;

    <b class = "pull-right"> Forgot Password ? </b>
    <br />
        <p class = "text-center color7"> or </p>
    <div [routerLink] = "['/navbar','create']" class = "btn box2"> CONTINUE AS GUEST </div>
    <br />
    <br />
    <b class = "center2"> Don't have an account ? &nbsp;&nbsp; <a routerLink="/signup">signup</a> </b>
        </div>
        
        <!-- <div *ngSwitchDefault> <h4>Otherwise</h4> </div> -->
      </div>
      
  
  </div>
</div>
