
          <div class = "col-sm-12">
              <h3> Background Check </h3>
              <div class = "box2">
                  <h5> Q1. Lorem Ipsum is simply dummy text of the printing and typesetting industry? </h5>
                  <br />
                  <input class = "text1" type = "text" value = "Lorem Ipsum" />
                  <br /><br />
                  <h5> Q2. Lorem Ipsum is simply dummy text of the printing and typesetting industry? </h5>
                  <input type = "radio" name = "radio1" /> <b> Lorem Ipsum is simply  </b>
                  <br />
                  <input type = "radio" name = "radio1" /> <b> dummy text of the printing  </b>
                  <br />
                  <input type = "radio" name = "radio1" /> <b> and typesetting industry </b>
                  <br /><br />
                  <h5> Q3. Lorem Ipsum is simply dummy text of the printing and typesetting industry? </h5>
                  <br />
                  <input class = "text1" type = "text" value = "Lorem Ipsum" />
                  <br /><br />
                  <h5> Q4. Lorem Ipsum is simply dummy text of the printing and typesetting industry? </h5>
                  <br />
                  <input type = "radio" name = "radio1" /> <b> Lorem Ipsum is simply  </b>
                  <br />
                  <input type = "radio" name = "radio1" /> <b> dummy text of the printing  </b>
                  <br />
                  <input type = "radio" name = "radio1" /> <b> and typesetting industry </b>
              </div>
              <br />
              <div class = "col-sm-12 top1 flex1">
                <div class = "col-sm-6">
                    <input type = "checkbox" /> <b> I give my consent to allow Multum to run a FREE background check on
                        me using to determine my eligibility for Multum </b>
                  </div>
                  <a class = "col-sm-6"> <div class = "pull-right btn color1"> Finished </div> </a> 
              </div>
        </div>

