<div class = "col-sm-12 p-0">
<h2 class = "font1"> Settings </h2>

<div class = "box2">
    <div class = "bg-color flex1">
        <h4 class = "col-sm-8 font2"> Change Password </h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class = "btn color1"> send link </div>
    </div>

    <div class = "bg-color flex1">
        <h4 class = "col-sm-8 font2"> Cancel Multum Account </h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class = "btn color1"> cancel </div>
    </div>

</div>

</div>