<h5 class = "font1"> Settings </h5>

<div class = "box2">
    <div class = "bg-color flex1">
        <h5 class = "col-sm-8 font2"> Change Password </h5> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class = "btn color1"> send link </div>
    </div>

    <div class = "bg-color flex1">
        <h5 class = "col-sm-8 font2"> Cancel Multum Account </h5> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class = "btn color1"> cancel </div>
    </div>

</div>