<div class = "">
    <div class = "col-sm-12">
        <h2 class = "font1"> Search For Jobs </h2>
        <div class = "clearfix"></div>
        <div class = "width1"></div>
        <div class = "width2">
            <i class="fas fa-search"></i>
        <input type = "text" class = "text1" [(ngModel)] = "searchterm" placeholder = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search City , Zip code" />
        </div>
        <div class = "width1"></div>
        <div class = "clearfix"></div>
        
        <div class = "flex1">
        <p class = "col-sm-11 t1"> 8 Results Found </p>
        <div class = "pull-right border1">
            
            <!-- <div class="nav-item dropdown pull-right" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle waves-light"> <img class = "img1" src = "assets/Images/user.png" /> <b> Wayne Mills </b> <span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" [routerLink] = "['/navbar','profile1']"> <i class="far fa-user-circle"></i> Profile </a>
                    <a class="dropdown-item waves-light" [routerLink] = "['/navbar','mysettings']"> <i class="fa fa-cog" aria-hidden="true"></i> settings </a>
                    <a class="dropdown-item waves-light" routerLink = "/login"> <i class="fa fa-sign-out" aria-hidden="true"></i> Log Out </a>
                </div>
              </div> -->

            <div class = "dropdown pull-right nav-item" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle waves-light"> <i class="fas fa-filter"></i> <b> Filter </b> </a>
              
             <div *dropdownMenu class = "dropdown-menu dropdown box3" role="menu">
                 <div> Job Price </div>
                 <input type = "text" class = "text2" value = "$250" />
                 <div> Rating </div>
                 <input type = "text" class = "text2" value = "5" />
                 <div> Job Done </div>
                 <input type = "text" class = "text2" value = "Multum" />
                 <div> Location </div>
                 <input type = "text" class = "text2" value = "Washington dc" />
                 <br /><br />
                 <div class = "btn color6"> Apply </div>
             </div>
            </div>
        </div>
        </div>
        <div class = "clearfix"></div>
        <br />
        <ng-container class = "col-sm-12" *ngIf = "(hotels | search:searchterm) as result">
            <div *ngFor = "let hotel of result | paginate: { itemsPerPage: 3, currentPage: p }" [routerLink] = "['/nav','details']" class = "box2">
                
                <h4 class = "color1"> {{ hotel.JobName }} </h4>
                <p> {{ hotel.Address }} </p>
                <p> {{ hotel.description }} </p>
            </div>

            <div class ="align1">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>

                <div class = "col-sm-12" *ngIf = "result.length === 0">
                    <h4 class = "text-center top1"> No results Found ... </h4>
                </div>

        </ng-container>
        
        
        </div>
</div>

