<div class = "position1">
    <div>
        <h2 class = "font1 top1 text-center"> Post New Job </h2>
        
        <ul class = "progressbar nav nav-pills center">

            <li [class.active] = "viewmode == 'hired'">
                <a>
                
                <div [ngClass]="{'active1': tab==='tab1'}" class = "step1">  </div>
                
                <br />
                   <h4 class = "text-center"> Order Description </h4>
                
                
                </a>
            </li>
            <li [class.active] = "viewmode == 'started'">
                <a> 
                    <div [ngClass]="{'active1': tab==='tab2'}" class = "step2">  </div>
                
                <br />
                   <h4 class = "text-center"> Price </h4>           
                </a>
            </li>
            <li [class.active] = "viewmode == 'completed'">
                <a> 
                    <div [ngClass]="{'active1': tab==='tab3'}" class = "step3">  </div>
                <br />
                <h4 class = "text-center">  Review  </h4>
                </a>
            </li>
            
          </ul>
        </div>
        
</div>
<div class = "clearfix"></div>
<br />

 <div class = "center1" [ngSwitch] = "viewmode">
<div *ngSwitchCase ="'hired'"> 
     <div [formGroup]="jobForm" class = "box2">
            <h3> Order Description </h3>
            <div class = "flex1">
                <div class = "col-sm-4 ml-0 p-0">
                    <label> Job Title </label>
                    <br />
                    <input type = "text" formControlName="jobtitle" placeholder = "Job Title" class = "text1" [ngClass]="{ 'is-invalid': submitted && f.jobtitle.errors }" [(ngModel)] = "person.jobtitle" />
                    <div *ngIf="submitted && f.jobtitle.errors" class="invalid-feedback">
                        <div *ngIf="f.jobtitle.errors.required">Job Title is required</div>
                    </div>
                </div>
                <div class = "col-sm-4 ml">
                    <label> Date Job needs to be done: </label>
                    <br />
                    <input type = "text" bsDatepicker formControlName="dateneedstoknow" [bsConfig]="{containerClass:'theme-blue'}" placeholder=" Specify date" class = "text1" [(ngModel)] = "person.dateneedstoknow" />

                    <div *ngIf="submitted && f.dateneedstoknow.errors" class="invalid-feedback">
                        <div *ngIf="f.dateneedstoknow.errors.required">Job Title is required</div>
                    </div>
                    <br />
                    <!-- <app-date-time-picker formControlName="dateneedstoknow" name = "dateneedstoknow" [ngClass]="{ 'is-invalid': submitted && f.dateneedstoknow.errors }" placeholder=" Specify date" class = "" [(ngModel)] = "person.dateneedstoknow"></app-date-time-picker>  
                    <div *ngIf="submitted && f.dateneedstoknow.errors" class="invalid-feedback">
                        <div *ngIf="f.dateneedstoknow.errors.required">Job Title is required</div>
                    </div> -->
                </div>
                <div class = "col-sm-4">
                    <label> Time Job needs to be done: </label>
                    <br />
                    <kendo-timepicker class ="width1" formControlName="timeneedstobedone" placeholder="Specify time" [(ngModel)] = "person.timeneedstobedone"></kendo-timepicker>
                        <div *ngIf="submitted && f.timeneedstobedone.errors" class="invalid-feedback">
                            <div *ngIf="f.timeneedstobedone.errors.required">Job Time is required</div>
                        </div>
                </div>
            </div>
            
            <div class = "clearfix"></div>
            <label class = "color4"> What is being picked up </label>
            <br />
            <input type = "radio" name = "radio1" /> Person
            <input type = "radio" name = "radio1" /> Item
            <div class = "clearfix"></div>
            <br />
        <label class = "color4"> Pickup Address </label>
        <br />
        <input type = "text" formControlName="pickupaddress" [ngClass]="{ 'is-invalid': submitted && f.pickupaddress.errors }" placeholder = "Location" class = "text2 col-sm-4 ml-0" [(ngModel)] = "person.pickupaddress" />
        <div *ngIf="submitted && f.pickupaddress.errors" class="invalid-feedback">
            <div *ngIf="f.pickupaddress.errors.required">Pick Up Address is required</div>
        </div>
        <input type = "text" formControlName="pickupaddress1" [ngClass]="{ 'is-invalid': submitted && f.pickupaddress1.errors }" placeholder = "Location" class = "text2 col-sm-4 ml-0" [(ngModel)] = "person.pickupaddress1" />
        <div *ngIf="submitted && f.pickupaddress1.errors" class="invalid-feedback">
            <div *ngIf="f.pickupaddress1.errors.required">Pick Up Address 1 is required</div>
        </div>
        <input type = "text" formControlName="pickupaddress2" [ngClass]="{ 'is-invalid': submitted && f.pickupaddress2.errors }" placeholder = "Location" class = "text2 col-sm-4 ml-0" [(ngModel)] = "person.pickupaddress2" />
        <div *ngIf="submitted && f.pickupaddress2.errors" class="invalid-feedback">
            <div *ngIf="f.pickupaddress2.errors.required">Pick Up Address 2 is required</div>
        </div>
        <input type = "text" formControlName="pickupaddress3" [ngClass]="{ 'is-invalid': submitted && f.pickupaddress3.errors }" placeholder = "Location" class = "text2 col-sm-4 ml-0" [(ngModel)] = "person.pickupaddress3" />
        <div *ngIf="submitted && f.pickupaddress3.errors" class="invalid-feedback">
            <div *ngIf="f.pickupaddress3.errors.required">Pick Up Address 3 is required</div>
        </div>
        <input type = "text" formControlName="pickupaddress4" [ngClass]="{ 'is-invalid': submitted && f.pickupaddress4.errors }" placeholder = "Location" class = "text2 col-sm-4 ml-0" [(ngModel)] = "person.pickupaddress4" />
        <div *ngIf="submitted && f.pickupaddress4.errors" class="invalid-feedback">
            <div *ngIf="f.pickupaddress4.errors.required">Pick Up Address 4 is required</div>
        </div>
        <div class = "clearfix"></div>
        <br />
        <label class = "color4"> Drop Off Address </label>
        <br />
        <input type = "text" formControlName="dropoffaddress" [ngClass]="{ 'is-invalid': submitted && f.dropoffaddressaddress.errors }" placeholder = "Location" class = "text2 col-sm-4 ml-0" [(ngModel)] = "person.dropoffaddress" />
        <div *ngIf="submitted && f.dropoffaddress.errors" class="invalid-feedback">
            <div *ngIf="f.dropoffaddress.errors.required">Drop Off Address is required</div>
        </div>
        <input type = "text" formControlName="dropoffaddress1" [ngClass]="{ 'is-invalid': submitted && f.dropoffaddressaddress1.errors }" placeholder = "Location" class = "text2 col-sm-4 ml-0" [(ngModel)] = "person.dropoffaddress1" />
        <div *ngIf="submitted && f.dropoffaddress1.errors" class="invalid-feedback">
            <div *ngIf="f.dropoffaddress1.errors.required">Drop Off Address 1 is required</div>
        </div>
        <input type = "text" formControlName="dropoffaddress2" [ngClass]="{ 'is-invalid': submitted && f.dropoffaddressaddress2.errors }" placeholder = "Location" class = "text2 col-sm-4 ml-0" [(ngModel)] = "person.dropoffaddress2" />
        <div *ngIf="submitted && f.dropoffaddress2.errors" class="invalid-feedback">
            <div *ngIf="f.dropoffaddress2.errors.required">Drop Off Address 2 is required</div>
        </div>
        <input type = "text" formControlName="dropoffaddress3" [ngClass]="{ 'is-invalid': submitted && f.dropoffaddressaddress3.errors }" placeholder = "Location" class = "text2 col-sm-4 ml-0" [(ngModel)] = "person.dropoffaddress3" />
        <div *ngIf="submitted && f.dropoffaddress3.errors" class="invalid-feedback">
            <div *ngIf="f.dropoffaddress3.errors.required">Drop Off Address 3 is required</div>
        </div>
        <input type = "text" formControlName="dropoffaddress4" [ngClass]="{ 'is-invalid': submitted && f.dropoffaddressaddress4.errors }" placeholder = "Location" class = "text2 col-sm-4 ml-0" [(ngModel)] = "person.dropoffaddress4" />
        <div *ngIf="submitted && f.dropoffaddress4.errors" class="invalid-feedback">
            <div *ngIf="f.dropoffaddress4.errors.required">Drop Off Address 4 is required</div>
        </div>
        <div class = "clearfix"></div>
        <div (click) = "viewmode = 'started'">
            <div (click)="onClick(2)" [ngClass]="{'active1': tab==='tab2'}" class = "pull-right">
           <button class = "btn btn-primary" [disabled]="!jobForm.valid" type = "button"> Next </button>  
            </div>
        </div>
        
    </div>
        
</div>
    <div *ngSwitchCase ="'started'"> 
        <div [formGroup]="priceForm" class = "box3">
            <h3> Price </h3>
            <div class = "flex1">
            <div class = "col-sm-6 p-0">
                <h3 class = "color4"> Choose price for the job </h3>
            <!-- <select required value="Select a value" class = "text1 col-sm-9" formControlName="chooseprice" [(ngModel)] = "person.chooseprice">
                 <option> Select Default Value </option> 
                <option> 100 </option>
                <option> 200 </option>
                <option> 300 </option>
                <option> 400 </option>
            </select> -->

            <kendo-dropdownlist class = "col-sm-9" formControlName="chooseprice" [(ngModel)] = "person.chooseprice" [data]="listItems" [value]="'90'">
            </kendo-dropdownlist>

        
            </div>
            <div class = "col-sm-6 line1 p-0">
                <h3 class = "color4"> Job Cost Summary </h3>
                <div class = "bg-color">
                    <span> Job Budget </span>
                    <span class = "pull-right"> {{ person.chooseprice }} </span>
                    <br />
                    <span> Service Fee(10%) </span>
                    <span class = "pull-right"> $ 10.00 </span>
                    <br />
                    <b> Total </b>
                    <b class = "pull-right"> {{ person.chooseprice + person.chooseprice * 10  /100 }} </b>
                    <br />
                    <div class ="clearfix"></div>
                    
                </div>
            </div>
            </div>
            <br /><br /><br />
            <div class = "pull-right flex2">
                <div (click) = "viewmode = 'hired'">
                    <div (click)="onClick(1)" [ngClass]="{'active1': tab==='tab1'}" class = "btn btn1"> Back </div>
                </div>
                
                <div (click) = "viewmode = 'completed'">
                    <div (click)="onClick(3)" [ngClass]="{'active1': tab==='tab3'}"> 
                        <button type = "button" [disabled]="!priceForm.valid" class = "btn btn-primary"> Next </button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
 
    <div *ngSwitchCase ="'completed'"> 
        <div class = "">
            <div [formGroup]="reviewForm" class = "col-sm-12 box4">
                <h3 class = "font1"> Review </h3>
                <div class = "flex1">
                    <div class = "col-sm-6">
                        <h4 class = "color4"> Review Your Job </h4>
                        <br />
                        <div class = "bg-color line2">
                            <span> Price </span>
                            <b class = "text-center ml-11">  {{ person.chooseprice + person.chooseprice * 10  /100 }} </b>
                            <br />
                            <span> Pickup Address </span>
                            <b class = "text-center ml-6"> {{ person.pickupaddress }} <br />
                                <span class = "ml-7"> {{ person.pickupaddress1 }} </span> <br />
                                <span class = "ml-7"> {{ person.pickupaddress2 }} </span> </b>
                            <br />
                            <span> Drop off Point </span>
                            <b class = "text-center ml-21"> {{ person.dropoffaddress }} <br />
                                <span class = "ml-7"> {{ person.dropoffaddress1 }} </span> <br />
                                <span class = "ml-7"> {{ person.dropoffaddress2 }} </span>  </b>
                            <br />
                            <span class = "ml-6"> Date </span>
                            <b class = "text-center ml-31"> {{ person.dateneedstoknow | date: "MM-dd-yyyy" }} </b>
                            <br />
                            <span class = "ml-6"> Time </span>
                            <b class = "text-center ml-31"> {{ person.timeneedstobedone | date: "hh:mm:ss" }} </b>
                        </div>
                    </div>
    
                    <div class = "col-sm-6">
                        <h3 class ="color4"> Job Cost Breakdown </h3>
                        <br />
                        <div class = "bg-color">
                            <span class = "ml-6"> Job Budget </span>
                            <b class = "ml-8"> {{ person.chooseprice }} </b>
                            <br />
                            <span class = "ml-6"> Pickup Address </span>
                            <b class = "ml-6"> {{ person.pickupaddress }} <br />
                               <span class = "ml-9"> {{ person.pickupaddress1 }} </span>  <br />
                                <span class = "ml-9"> {{ person.pickupaddress2 }} </span> </b>
                            <br />
                            <span class = "ml-6"> Total </span>
                            <b class = "ml-10"> {{ person.chooseprice + person.chooseprice * 10  /100 }} </b>
                            <br />
                            <span class = "ml-6"> Date </span>
                            <b class = "ml-10"> {{ person.dateneedstoknow | date: "MM-dd-yyyy" }} </b>
                            <br />
                            <span class = "ml-6"> Time </span>
                            <b class = "ml-10"> {{ person.timeneedstobedone | date: "hh:mm:ss" }} </b>
                        </div>
                        <br />
                        <h3 class ="color4"> Credit Card Information </h3>
                        <div class = "bg-color">
                            <span class = "col-sm-6 p-0"> Card Number </span>
                            <input type = "text" class = "text1 col-sm-6" placeholder="Enter the card No" formControlName="cardnumber" [(ngModel)] = "person.cardnumber" />
                            <br />
                            <div class = "flex1">
                                <div class = "col-sm-6 p-0">
                                    <label> CVV </label>
                                <input type = "password" placeholder="Enter the CVV" class = "text1" formControlName="cvv" [(ngModel)] = "person.cvv" />
                                </div>
                                <div class = "col-sm-6 p-0">
                                    <label> Card Expiration </label>
                                <!-- <input type = "text" class = "text1" placeholder="Card expiry date" formControlName="cardexpiry" [(ngModel)] = "person.cardexpiry" /> -->
                                <input type="text"  class = "text1" placeholder="Card expiry date" formControlName="cardexpiry" [(ngModel)] = "person.cardexpiry" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/YYYY', isAnimated: true, containerClass:'theme-blue' }" />
                            </div>
                                
                            </div>
                            
                        </div>
    
                    </div>
    
                </div>
                <div class = "pull-right flex2">
                    <div (click) = "viewmode = 'started'">
                        <div (click)="onClick(2)" [ngClass]="{'active1': tab==='tab2'}" class = "btn btn1 top1"> Back </div>
                    </div>
                    <button (click) = "addPerson()" [disabled]="!reviewForm.valid" class = "btn color5 top1">  Place Order </button>
                </div>
                
            </div>
        </div>
        <!-- <div class = "none1">
            <div class = "col-sm-12 box2">
                <h4 class = "font1"> Review </h4>
                <div class = "flex1">
                    <div class = "col-sm-6">
                        <h5 class = "color4"> Review Your Job </h5>
                        <br />
                        <div class = "bg-color line2">
                            <span> Price </span>
                            <b class = "text-center"> <br /> $100.00 </b>
                            <br />
                            <span> Pickup Address </span>
                            <b class = "text-center"> <br /> {{ person.pickupaddress }} <br />
                                <br /> {{ person.pickupaddress1 }} <br />
                                <br /> {{ person.pickupaddress2 }} </b>
                            <br />
                            <span> Drop off Point </span>
                            <b class = "text-center"> <br /> {{ person.dropoffaddress }} <br />
                                <br /> {{ person.dropoffaddress1 }} <br />
                                <br /> {{ person.dropoffaddress2 }}  </b>
                            <br />
                            <span> Date </span>
                            <b class = "text-center"> <br /> {{ person.dateneedstoknow }} </b>
                            <br />
                            <span> Time </span>
                            <b class = "text-center"> <br /> {{ person.timeneedstobedone }} </b>
                        </div>
                    </div>
    
                    <div class = "col-sm-6">
                        <h5 class ="color4"> Job Cost Breakdown </h5>
                        <br />
                        <div class = "bg-color">
                            <span> Job Budget </span>
                            <b> <br /> $90.00 </b>
                            <br />
                            <span> Pickup Address </span>
                            <b> <br /> {{ person.pickupaddress }} <br />
                                <br /> {{ person.pickupaddress1 }} <br />
                                <br /> {{ person.pickupaddress2 }} </b>
                            <br />
                            <span> Total </span>
                            <b> <br /> $100.00 </b>
                            <br />
                            <span> Date </span>
                            <b> <br /> {{ person.dateneedstoknow }} </b>
                            <br />
                            <span> Time </span>
                            <b> <br /> {{ person.timeneedstobedone }} </b>
                        </div>
                        <br />
                        <h5 class ="color4"> Credit Card Information </h5>
                        <div class = "bg-color">
                            <span class = "col-sm-6 p-0"> Card Number </span>
                            <input type = "text" class = "text1 col-sm-6 p-0" />
                            <br />
                            <div class = "flex1">
                                <div class = "col-sm-6 p-0">
                                    <label> CVV </label>
                                <input type = "password" class = "text1 p-0" />
                                </div>
                                <div class = "col-sm-6 p-0">
                                    <label> Card Expiration </label>
                                <input type = "text" class = "text1 p-0" />
                                </div>
                                
                            </div>
                            
                        </div>
    
                    </div>
    
                </div>
                <button [disabled]="!reviewForm.valid" class = "btn color5 pull-right top1">  Place Order </button>
            </div>
        </div> -->
    </div>
</div>
    

