<div class = "col-sm-12">
    <h2 class = "font1"> Contact </h2>
    <div class = "col-sm-12 flex1">
        <div class = "box2 col-sm-6">
            <h3 class = "text-center"> Talk to a team Member now over </h3>
            <div class = "btn color1 center1"> Live Chat </div>
        </div>
        <div class = "box2 col-sm-6">
            <h3 class = "text-center"> Want to talk to a Person over phone? </h3>
            <h3 class = "text-center"> Call us </h3>
            <div class = "btn color1 center1"> (570) 717-5392 </div>
        </div>
    </div>
    
</div>