<h4 class = "font1"> My Profile </h4>

    <div class = "none">
        <div class = "box2 flex1">
            <div class = "bg-color">
                <h4 class = "color2"> Personal Information </h4>
                <b class = "color3"> Name </b>    <b class = "ml-7">: Edwin Wilkins </b>
                <br />
                <b class = "color3"> E-mail </b>    <b class = "ml-7">: edwinwilkins@gmail.com </b>
                <br />
                <b class = "color3"> Phone </b>    <b class = "ml-7">: +1 (838) 502-1018 </b>
                <br />
                <b class = "color3"> Address </b>    <b class = "ml-10">: 1819 Nulsem Turnpike </b>
                <br />
                <b class = "color3"> Zipcode </b>    <b class = "ml-8">: 5008 </b>
                <br />
                <b class = "color3"> Member Since </b>    <b class = "ml-9">: 2014 </b>
                <br />
                <b class = "color3"> Number of Live orders </b>    <b class = "ml-13">: 22 </b>
            </div>
            
            <div class = "bg-color">
                <h4 class = "color2"> Credit Card Information </h4>
                <b class = "color3"> Car Number </b>    <b class = "ml-11">: 4567 3453 8786 2098 </b>
                <br />
                <b class = "color3"> CVV </b>   <b class = "ml-12">: **** </b>
                <br />
                <b class = "color3"> Card Expiration </b>    <b class = "ml-13">: 20/24 </b>
                
            </div>
                
            </div>
    </div>

