<h4 class = "font1"> My Profile </h4>

    <div class = "none">
        <div class = "box2 flex1">
            <div class = "col-sm-9 bg-color">
                <h4 class = "color2"> Personal Information </h4>
                <b class = "color3"> Name: </b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b> Edwin Wilkins </b>
                <br />
                <b class = "color3"> E-mail: </b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b> edwinwilkins@gmail.com </b>
                <br />
                <b class = "color3"> Phone: </b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b> +1 (838) 502-1018 </b>
                <br />
                <b class = "color3"> Address: </b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b> 1819 Nulsem Turnpike </b>
                <br />
                <b class = "color3"> Zipcode: </b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b> 5008 </b>
                <br />
                <b class = "color3"> Member Since: </b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b> 2014 </b>
                <br />
                <b class = "color3"> Number of Live orders: </b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b> 22 </b>
            </div>
            
            <div class = "pull-right bg-color">
                <h4 class = "color2"> Credit Card Information </h4>
                <b class = "color3"> Car Number: </b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b> 4567 3453 8786 2098 </b>
                <br />
                <b class = "color3"> CVV: </b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b> **** </b>
                <br />
                <b class = "color3"> Card Expiration: </b>  &nbsp;&nbsp;&nbsp;&nbsp;  <b> 20/24 </b>
                
            </div>
                
            </div>
    </div>
    
        <div class = "none1">
            <div class = "box2 flex1">
                <div class = "col-sm-6 bg-color">
                    <h4 class = "color2"> Personal Information </h4>
                    <b class = "color3"> Name: </b> <br />  <b> Edwin Wilkins </b>
                    <br />
                    <b class = "color3"> E-mail: </b> <br />  <b> edwinwilkins@gmail.com </b>
                    <br />
                    <b class = "color3"> Phone: </b>  <br />  <b> +1 (838) 502-1018 </b>
                    <br />
                    <b class = "color3"> Address: </b>  <br />  <b> 1819 Nulsem Turnpike </b>
                    <br />
                    <b class = "color3"> Zipcode: </b>  <br />  <b> 5008 </b>
                    <br />
                    <b class = "color3"> Member Since: </b>  <br />  <b> 2014 </b>
                    <br />
                    <b class = "color3"> Number of Live orders: </b>  <br />  <b> 22 </b>
                </div>
                
                <div class = "col-sm-6 bg-color">
                    <h4 class = "color2"> Credit Card Information </h4>
                    <b class = "color3"> Car Number: </b>  <br />  <b> 4567 3453 8786 2098 </b>
                    <br />
                    <b class = "color3"> CVV: </b>  <br />  <b> **** </b>
                    <br />
                    <b class = "color3"> Card Expiration: </b>  <br />  <b> 20/24 </b>
                    
                </div>
                    
                </div>
        </div>