.box2{
    box-shadow: 0 0 4px 0 rgb(144 162 178 / 51%);
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
}

.color2{
    color:#ac415b;
    font-weight:bold;
}

.color3{
    color:grey;
}

.flex1{
    display: flex;
    justify-content: space-evenly;
}

.puul-right{
    float:right;
}

.none{
    display: block;
}

.none1{
    display: none;
}

.font1{
    font-weight: bold;
}

.ml-7{
    margin-left:100px;
}

.ml-8{
    margin-left:90px;
}

.ml-10{
    margin-left:88px;
}

.ml-9{
    margin-left:50px;
}

.ml-11{
    margin-left:20px;
}

.ml-12{
    margin-left:70px;
}

/* Media Queries */

@media (min-width:320px) and (max-width:998px){
    .flex1{
        display: block;
    }
    
    .ml-7{
        margin-left:0px;
        display: block;
    }
    
    .ml-8{
        margin-left:0px;
        display: block;
    }
    
    .ml-10{
        margin-left:0px;
        display: block;
    }
    
    .ml-9{
        margin-left:0px;
        display: block;
    }
    
    .ml-11{
        margin-left:0px;
        display: block;
    }
    
    .ml-12{
        margin-left:0px;
        display: block;
    }
    .ml-13{
        margin-left:0px;
        display: block;
    }
}