<div class = "container">
    <div class = "row">
            <div class="tab align1" role="tabpanel">
                <img class = "img1" src = "assets/Images/logo-icon.svg" />
                <h1 class = "text-center font1"> Multum </h1>
                <hr style="margin-top:10px;width:75%;border: 0; 
                height: 1px; 
                background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
                background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
                background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
                background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);" />
                <div class = "clearfix"></div>
            <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a [routerLink] = "['/nav','profile']" role="tab" data-toggle="tab">Service Provider</a></li>
                    <li role="presentation"><a [routerLink] = "['/navbar','profile1']" role="tab" data-toggle="tab">Customer</a></li>
                </ul>
        </div>
    </div>
</div>

