<div class = "container">
    <div class = "row">
            <div class="tab align1" role="tabpanel">
                <img class = "img1" src = "assets/Images/logo-icon.svg" />
                <h1 class = "text-center"> Multum </h1>
            <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a [routerLink] = "['/nav','profile']" role="tab" data-toggle="tab">Service Provider</a></li>
                    <li role="presentation"><a [routerLink] = "['/navbar','profile1']" role="tab" data-toggle="tab">Customer</a></li>
                </ul>
        </div>
    </div>
</div>

