<div class = "col-sm-12">
    <h4 class = "font1"> Job 1 </h4>
    <div class = "box2">
        <h4> Job Description </h4>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. 
        </p>
        <div class ="flex1">
        <div class = "col-sm-4">
            <h4> Address </h4>
            <p> 
                17 Howard Street<br />
    Oswego NY 13126<br />
    USA
            </p>
        </div>
        <div class = "col-sm-4">
            <h4> Date </h4>
            <p> 
                22/11/2020
            </p>
        </div>       
        <div class = "col-sm-4">
            <h4>
                Time
            </h4>
            <p>
                10:00 A.M.
            </p>
        </div>     
        </div>
    </div>
    <div class = "clearfix"></div>
    <h6 class = "color4"> Applied List </h6>
    <div class = "flex1">
        <div class = "col-sm-3">
            <div [routerLink] = "['/navbar','myreviews']" class = "box2">
                <img class = "img1 pull-left" src = "assets/Images/user.png" />
                <h6> Service Provider 1 </h6>
                
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                <br />
                <p>
                    Lorem Ipsum is simply dummy text
    of the printing and typesetting
    industry. Lorem Ipsum has been 
    
                </p>
                <br />
                <div class = "flex1">
                    <div class = "btn btn-sm btn-success"> Hire </div>
                <div class = "btn btn-sm btn-danger"> Reject </div>
               <div class = "pull-right right1">
                <i class="fas fa-user-alt"></i>
                <i class="fas fa-comment-dots"></i>
               </div>
                
                </div>
                
            </div>
        </div>
        <div class = "col-sm-3">
            <div [routerLink] = "['/navbar','myreviews']" class = "box2">
                <img class = "img1 pull-left" src = "assets/Images/user.png" />
                <h6> Service Provider 1 </h6>
                
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                <br />
                <p>
                    Lorem Ipsum is simply dummy text
    of the printing and typesetting
    industry. Lorem Ipsum has been 
    
                </p>
                <br />
                <div class = "flex1">
                    <div class = "btn btn-sm btn-success"> Hire </div>
                <div class = "btn btn-sm btn-danger"> Reject </div>
               <div class = "pull-right right1">
                <i class="fas fa-user-alt"></i>
                <i class="fas fa-comment-dots"></i>
               </div>
                
                </div>
                
            </div>
        </div>
        <div class = "col-sm-3">
            <div [routerLink] = "['/navbar','myreviews']" class = "box2">
                <img class = "img1 pull-left" src = "assets/Images/user.png" />
                <h6> Service Provider 1 </h6>
                
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                <br />
                <p>
                    Lorem Ipsum is simply dummy text
    of the printing and typesetting
    industry. Lorem Ipsum has been 
    
                </p>
                <br />
                <div class = "flex1">
                    <div class = "btn btn-sm btn-success"> Hire </div>
                <div class = "btn btn-sm btn-danger"> Reject </div>
               <div class = "pull-right right1">
                <i class="fas fa-user-alt"></i>
                <i class="fas fa-comment-dots"></i>
               </div>
                
                </div>
                
            </div>
        </div>
        <div class = "col-sm-3">
            <div [routerLink] = "['/navbar','myreviews']" class = "box2">
                <img class = "img1 pull-left" src = "assets/Images/user.png" />
                <h6> Service Provider 1 </h6>
                
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                <br />
                <p>
                    Lorem Ipsum is simply dummy text
    of the printing and typesetting
    industry. Lorem Ipsum has been 
    
                </p>
                <br />
                <div class = "flex1">
                    <div class = "btn btn-sm btn-success"> Hire </div>
                <div class = "btn btn-sm btn-danger"> Reject </div>
               <div class = "pull-right right1">
                <i class="fas fa-user-alt"></i>
                <i class="fas fa-comment-dots"></i>
               </div>
                
                </div>
                
            </div>
        </div>
    </div>
        
</div>
