<div class ="col-sm-12">
    <h4 class = "top1 font1"> Past Jobs </h4>
    <div class = "box2">
        <h4 class = "color1"> Job Title </h4>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
        <div class = "flex1">
            <h4> Date : 04 Sep 2020 </h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h4> Price : $250.00 </h4>
        </div>
    </div>
    <div class = "box2">
        <h4 class = "color1"> Job Title </h4>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
        <div class = "flex1">
            <h4> Date : 04 Sep 2020 </h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h4> Price : $250.00 </h4>
        </div>
    </div>
    <div class = "box2">
        <h4 class = "color1"> Job Title </h4>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
        <div class = "flex1">
            <h4> Date : 04 Sep 2020 </h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h4> Price : $250.00 </h4>
        </div>
    </div>
    <div class = "box2">
        <h4 class = "color1"> Job Title </h4>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
        <div class = "flex1">
            <h4> Date : 04 Sep 2020 </h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h4> Price : $250.00 </h4>
        </div>
    </div>
</div>