<div class = "col-sm-12 flex1 p-0">
    <div class = "pull-left col-sm-8 bg-image">
        <div class = "clippy1">
        <div class = "center1">
        <img src = "assets/Images/login-logo.svg" />
        </div>
        </div>
    </div>
      <div class = "col-sm-4">
        <h3 class = "color1"> Sign UP </h3>
        <img class = "img1" src = "assets/Images/logo-icon.svg" />
        <h1 class = "text-center"> Multum </h1>
    
        <ul class = "nav nav-pills center">
          <li [class.active] = "viewmode == 'service'"><a (click) = "viewmode = 'service'"> Service Provider </a></li>
          <li [class.active] = "viewmode == 'customer'"><a (click) = "viewmode = 'customer'"> Customer </a></li>
        </ul>
        
        <br />
        <br />
        
        <div [ngSwitch] = "viewmode">
          <div *ngSwitchCase ="'service'"> 
            <form [formGroup]="registerForm" (ngSubmit)="addPerson()">
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label>First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors && ( f.firstName.dirty || f.firstName.touched) }" [(ngModel)] = "person.firstName" value = "1" />
                        <!-- <span class = "text-danger" *ngIf = "registerForm.get('firstName).hasError('required') &&  submitted"> First Name is Required </span> -->
                        <div *ngIf="submitted && f.firstName.errors && ( f.firstName.dirty || f.firstName.touched )" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors && ( f.lastName.dirty || f.lastName.touched) }" [(ngModel)] = "person.lastName" value = "1" />
                    <div *ngIf="submitted && f.lastName.errors && ( f.lastName.dirty || f.lastName.touched )" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        <div *ngIf="f.lastName.dirty.required">Last Name is required</div>
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="emailId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors && ( f.emailId.dirty || f.emailId.touched) }" [(ngModel)] = "person.emailId" value = "1" />
                    <div *ngIf="submitted && f.emailId.errors && ( f.emailId.dirty || f.emailId.touched )" class="invalid-feedback">
                        <div *ngIf="f.emailId.errors.required">Email is required</div>
                        <div *ngIf="f.emailId.errors.email">Email must be a valid email address</div>
                        
                    </div>
                    <!-- <div class = "red1"> {{ message }} </div> -->
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors && ( f.password.dirty || f.password.touched) }" [(ngModel)] = "person.password" value = "1" />
                        <div *ngIf="submitted && f.password.errors && ( f.password.dirty || f.password.touched )" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors && ( f.confirmPassword.dirty || f.confirmPassword.touched ) }" [(ngModel)] = "person.confirmPassword" value = "1" />
                        <div *ngIf="submitted && f.confirmPassword.errors && ( f.confirmPassword.dirty || f.confirmPassword.touched )" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors && ( f.phoneNumber.dirty || f.phoneNumber.touched ) }" [(ngModel)] = "person.phoneNumber" value = "1" />
                    <div *ngIf="submitted && f.phoneNumber.errors && ( f.phoneNumber.dirty || f.phoneNumber.touched )" class="invalid-feedback">
                        <div *ngIf="f.phoneNumber.errors.required">Phone Number is required</div>
                        <div *ngIf="f.phoneNumber.errors.pattern || f.phoneNumber.errors.minlength || f.phoneNumber.errors.maxlength">Phone Number must be 10 characters </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Date of Birth</label>
                    <br />
                    <!-- <app-date-time-picker type = "text" class="form-control" formControlName="dateofbirth" [ngClass]="{ 'is-invalid': submitted && f.dateofbirth.errors }" placeholder=" Specify date" class = "" [(ngModel)] = "person.dateofbirth"></app-date-time-picker> -->
                    <input type="text" class="form-control" formControlName="dob" [ngClass]="{ 'is-invalid': submitted && f.dob.errors && ( f.dob.dirty || f.dob.touched ) }" placeholder=" Specify date" data-date-format="MM-dd-yyyy" placement = "top" [(ngModel)] = "person.dob" value = "1" bsDatepicker [bsConfig]="{ isAnimated: true, containerClass:'theme-blue' }" />
                    <div *ngIf="submitted && f.dob.errors && ( f.dob.dirty || f.dob.touched )" class="invalid-feedback">
                        <div *ngIf="f.dob.errors.required">DOB is required</div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label>Zip Code</label>
                    <input type="text" formControlName="zipCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }"  [(ngModel)] = "person.zipCode" value = "1" />
                    <div *ngIf="submitted && f.zipCode.errors && ( f.zipCode.dirty || f.zipCode.touched )" class="invalid-feedback">
                        <div *ngIf="f.zipCode.errors.required">Zip Code is required</div>
                    </div>
                </div> -->
                <div formGroupName="homeAddress">
                    <!-- <label>Home Address</label> -->
                    <div>
                      <label [ngClass]="{'error': submitted && f.homeAddress.controls.zipCode.errors}">Zip Code</label>
                      <input type="text" class="form-control" formControlName="zipCode" [ngClass]="{'error': submitted && f.homeAddress.controls.zipCode.errors}" />
          
                      <!-- error block -->
                      <div *ngIf="submitted && f.homeAddress.controls.zipCode.errors" class="invalid-feedback">
                        <div *ngIf="f.homeAddress.controls.zipCode.required">Zip Code is required</div>
                      </div>
                    </div>
                </div>

               <!--  <div class="form-group">
                    <label>User Type</label>
                    <input type="text" formControlName="userType" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userType.errors } " [(ngModel)] = "person.userType" [value] = "usertype" />
                    <div *ngIf="submitted && f.userType.errors" class="invalid-feedback">
                        <div *ngIf="f.userType.required">User Type is required</div>
                    </div>
                </div> -->
                <div class="form-group form-check col-sm-12">
                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" [(ngModel)] = "person.acceptTerms" value = "1" />
                    <label style = "font-size: 12px;" for="acceptTerms" class="form-check-label"><b>I have read and agree to the</b> Multum’s Independent Contractor
                        Agreement and Terms and Conditions.</label>
                    <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                </div>
                <div class="text-left">
                    <button [disabled]="!registerForm.valid" type = "submit" class="btn btn-color"> Register </button>
                </div>
                
            </form>
          </div>
            <div *ngSwitchCase ="'customer'">
                <form [formGroup]="registerForm1" (ngSubmit)="addPerson1()">
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label>First Name</label>
                            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.firstName.errors }" [(ngModel)] = "person4.firstName" value = "2" />
                            <div *ngIf="submitted1 && f1.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f1.firstName.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Last Name</label>
                            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.lastName.errors }" [(ngModel)] = "person4.lastName" value = "2" />
                           <div *ngIf="submitted1 && f1.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f1.lastName.errors.required">Last Name is required</div>
                           </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="emailId" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.emailId.errors }" [(ngModel)] = "person4.emailId" value = "2" />
                        <div *ngIf="submitted1 && f1.emailId.errors" class="invalid-feedback">
                            <div *ngIf="f1.emailId.errors.required">Email is required</div>
                            <div *ngIf="f1.emailId.errors.email">Email must be a valid email address</div>
                        </div>
                        <!-- <div class="red1"> {{ message }} </div> -->
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label>Password</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.password.errors }" [(ngModel)] = "person4.password" value = "2" />
                            <div *ngIf="submitted1 && f1.password.errors" class="invalid-feedback">
                                <div *ngIf="f1.password.errors.required">Password is required</div>
                                <div *ngIf="f1.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Confirm Password</label>
                            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.confirmPassword.errors }" [(ngModel)] = "person4.confirmPassword" value = "2" />
                            <div *ngIf="submitted1 && f1.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f1.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f1.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.phoneNumber.errors }" [(ngModel)] = "person4.phoneNumber" value = "2" />
                        <div *ngIf="submitted1 && f1.phoneNumber.errors" class="invalid-feedback">
                            <div *ngIf="f1.phoneNumber.required">Phone Number is required</div>
                            <div *ngIf="f1.phoneNumber.errors.pattern || f1.phoneNumber.errors.minlength || f1.phoneNumber.errors.maxlength">Phone must be 10 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Date of Birth</label>
                        <br />
                        <!-- <app-date-time-picker type = "text" class="form-control" formControlName="dateofbirth" [ngClass]="{ 'is-invalid': submitted && f.dateofbirth.errors }" placeholder=" Specify date" class = "" [(ngModel)] = "person.dateofbirth"></app-date-time-picker> -->
                        <input type="text" class="form-control" formControlName="dob" [ngClass]="{ 'is-invalid': submitted1 && f1.dob.errors && ( f1.dob.dirty || f1.dob.touched ) }" placement = "top" placeholder=" Specify date" [(ngModel)] = "person4.dob" value = "2" bsDatepicker [bsConfig]="{ isAnimated: true, containerClass:'theme-blue' }" />
                        <div *ngIf="submitted && f1.dob.errors && ( f1.dob.dirty || f1.dob.touched )" class="invalid-feedback">
                            <div *ngIf="f1.dob.errors.required">DOB is required</div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label>Zip Code</label>
                        <input type="text" formControlName="zipCode" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.zipCode.errors }" [(ngModel)] = "person4.zipCode" value = "2" />
                        <div *ngIf="submitted1 && f1.zipCode.errors" class="invalid-feedback">
                            <div *ngIf="f1.zipCode.required">Zip Code is required</div>
                        </div>
                    </div> -->
                    <div class="form-group" formGroupName="homeAddress">
                        <!-- <label>Home Address</label> -->
                        <div>
                          <label [ngClass]="{'error': submitted1 && f1.homeAddress.controls.zipCode.errors}">Zip Code</label>
                          <input type="number" class="form-control" formControlName="zipCode" [ngClass]="{'error': submitted1 && f1.homeAddress.controls.zipCode.errors}" />
              
                          <!-- error block -->
                          <div *ngIf="submitted1 && f1.homeAddress.controls.zipCode.errors" class="invalid-feedback">
                            <div *ngIf="f1.homeAddress.controls.zipCode.required">Zip Code is required</div>
                          </div>
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <label>User Type</label>
                        <input type="text" formControlName="userType" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.userType.errors }" [(ngModel)] = "person4.userType" [value] = "usertype1" />
                        <div *ngIf="submitted1 && f1.userType.errors" class="invalid-feedback">
                            <div *ngIf="f1.userType.required">User Type is required</div>
                        </div>
                    </div> -->
                    <div class="form-group form-check col-sm-12">
                        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted1 && f1.acceptTerms.errors }" [(ngModel)] = "person4.acceptTerms" value = "2" />
                        <label style = "font-size: 12px;" for="acceptTerms" class="form-check-label"><b>I have read and agree to</b> Multum’s Terms and Conditions.</label>
                        <div *ngIf="submitted1 && f1.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                    </div>
                    <div class="text-left">
                         <button [disabled]="!registerForm1.valid" type = "submit" class="btn btn-color">Register</button>
                        
                         <!-- [disabled]="!registerForm1.valid" -->

                    </div>
                </form>
          </div>
          <!-- <div *ngSwitchDefault> <h4>Otherwise</h4> </div> -->
        </div>
        
    
    </div>
    </div>
    
    