<div class = "col-sm-12 flex1 p-0">
    <div class = "pull-left col-sm-8 bg-image">
        <div class = "clippy1">
        <div class = "center1">
        <img src = "assets/Images/login-logo.svg" />
        </div>
        </div>
    </div>
      <div class = "col-sm-4">
        <h3 class = "color1"> Sign UP </h3>
        <img class = "img1" src = "assets/Images/logo-icon.svg" />
        <h1 class = "text-center"> Multum </h1>
    
        <ul class = "nav nav-pills center">
          <li [class.active] = "viewmode == 'service'"><a (click) = "viewmode = 'service'"> Service Provider </a></li>
          <li [class.active] = "viewmode == 'customer'"><a (click) = "viewmode = 'customer'"> Customer </a></li>
        </ul>
        
        <br />
        <br />
        
        <div [ngSwitch] = "viewmode">
          <div *ngSwitchCase ="'service'"> 
            <form [formGroup]="registerForm" (ngSubmit)="addPerson()">
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label>First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors && ( f.firstName.dirty || f.firstName.touched) }" [(ngModel)] = "person.firstName" />
                        <!-- <span class = "text-danger" *ngIf = "registerForm.get('firstName).hasError('required') &&  submitted"> First Name is Required </span> -->
                        <div *ngIf="submitted && f.firstName.errors && ( f.firstName.dirty || f.firstName.touched )" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors && ( f.lastName.dirty || f.lastName.touched) }" [(ngModel)] = "person.lastName" />
                        <div *ngIf="submitted && f.lastName.errors && ( f.lastName.dirty || f.lastName.touched )" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            <div *ngIf="f.lastName.dirty.required">Last Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors && ( f.email.dirty || f.email.touched) }" [(ngModel)] = "person.email" />
                    <div *ngIf="submitted && f.email.errors && ( f.email.dirty || f.email.touched )" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        
                    </div>
                    <div class = "red1"> {{ message }} </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors && ( f.password.dirty || f.password.touched) }" [(ngModel)] = "person.password" />
                        <div *ngIf="submitted && f.password.errors && ( f.password.dirty || f.password.touched )" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors && ( f.confirmPassword.dirty || f.confirmPassword.touched ) }" [(ngModel)] = "person.confirmPassword" />
                        <div *ngIf="submitted && f.confirmPassword.errors && ( f.confirmPassword.dirty || f.confirmPassword.touched )" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors && ( f.phone.dirty || f.phone.touched ) }" [(ngModel)] = "person.phone" />
                    <div *ngIf="submitted && f.phone.errors && ( f.phone.dirty || f.phone.touched )" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">Phone Number is required</div>
                        <div *ngIf="f.phone.errors.pattern || f.phone.errors.minlength || f.phone.errors.maxlength">Phone Number must be 10 characters </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Date of Birth</label>
                    <br />
                    <!-- <app-date-time-picker type = "text" class="form-control" formControlName="dateofbirth" [ngClass]="{ 'is-invalid': submitted && f.dateofbirth.errors }" placeholder=" Specify date" class = "" [(ngModel)] = "person.dateofbirth"></app-date-time-picker> -->
                    <input type="text" class="form-control" formControlName="dateofbirth" [ngClass]="{ 'is-invalid': submitted && f.dateofbirth.errors && ( f.dateofbirth.dirty || f.dateofbirth.touched ) }" placeholder=" Specify date" [(ngModel)] = "person.dateofbirth" bsDatepicker [bsConfig]="{ isAnimated: true, containerClass:'theme-blue' }" />
                    <div *ngIf="submitted && f.dateofbirth.errors && ( f.dateofbirth.dirty || f.dateofbirth.touched )" class="invalid-feedback">
                        <div *ngIf="f.dateofbirth.errors.required">DOB is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Zip Code</label>
                    <input type="text" formControlName="zipcode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }"  [(ngModel)] = "person.zipcode" />
                    <div *ngIf="submitted && f.zipcode.errors && ( f.zipcode.dirty || f.zipcode.touched )" class="invalid-feedback">
                        <div *ngIf="f.zipcode.errors.required">Zip Code is required</div>
                    </div>
                </div>
                <div class="form-group form-check col-sm-12">
                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" [(ngModel)] = "person.acceptTerms" />
                    <label style = "font-size: 12px;" for="acceptTerms" class="form-check-label"><b>I have read and agree to the</b> Multum’s Independent Contractor
                        Agreement and Terms and Conditions.</label>
                    <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                </div>
                <div class="text-left">
                    <button [disabled]="!registerForm.valid" type = "submit" class="btn btn-color"> Register </button>
                </div>
                
            </form>
          </div>
            <div *ngSwitchCase ="'customer'">
                <form [formGroup]="registerForm1" (ngSubmit)="addPerson1()">
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label>First Name</label>
                            <input type="text" formControlName="firstName1" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.firstName1.errors }" [(ngModel)] = "person4.firstName1" />
                            <div *ngIf="submitted1 && f1.firstName1.errors" class="invalid-feedback">
                                <div *ngIf="f1.firstName1.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Last Name</label>
                            <input type="text" formControlName="lastName1" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.lastName1.errors }" [(ngModel)] = "person4.lastName1" />
                            <div *ngIf="submitted1 && f1.lastName1.errors" class="invalid-feedback">
                                <div *ngIf="f1.lastName1.errors.required">Last Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email1" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.email1.errors }" [(ngModel)] = "person4.email1" />
                        <div *ngIf="submitted1 && f1.email1.errors" class="invalid-feedback">
                            <div *ngIf="f1.email1.errors.required">Email is required</div>
                            <div *ngIf="f1.email1.errors.email">Email must be a valid email address</div>
                        </div>
                        <div class="red1"> {{ message }} </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label>Password</label>
                            <input type="password" formControlName="password1" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.password1.errors }" [(ngModel)] = "person4.password1" />
                            <div *ngIf="submitted1 && f1.password1.errors" class="invalid-feedback">
                                <div *ngIf="f1.password1.errors.required">Password is required</div>
                                <div *ngIf="f1.password1.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Confirm Password</label>
                            <input type="password" formControlName="confirmPassword1" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.confirmPassword1.errors }" [(ngModel)] = "person4.confirmPassword1" />
                            <div *ngIf="submitted1 && f1.confirmPassword1.errors" class="invalid-feedback">
                                <div *ngIf="f1.confirmPassword1.errors.required">Confirm Password is required</div>
                                <div *ngIf="f1.confirmPassword1.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" formControlName="phone1" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.phone1.errors }" [(ngModel)] = "person4.phone1" />
                        <div *ngIf="submitted1 && f1.phone1.errors" class="invalid-feedback">
                            <div *ngIf="f1.phone1.required">Phone Number is required</div>
                            <div *ngIf="f1.phone1.errors.maxlength">Phone must be 10 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Zip Code</label>
                        <input type="text" formControlName="zipcode1" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.zipcode1.errors }" [(ngModel)] = "person4.zipcode1" />
                        <div *ngIf="submitted1 && f1.zipcode1.errors" class="invalid-feedback">
                            <div *ngIf="f1.zipcode1.required">Zip Code is required</div>
                        </div>
                    </div>
                    <div class="form-group form-check col-sm-12">
                        <input type="checkbox" formControlName="acceptTerms1" id="acceptTerms1" class="form-check-input" [ngClass]="{ 'is-invalid': submitted1 && f1.acceptTerms1.errors }" [(ngModel)] = "person4.acceptTerms1" />
                        <label style = "font-size: 12px;" for="acceptTerms1" class="form-check-label"><b>I have read and agree to</b> Multum’s Terms and Conditions.</label>
                        <div *ngIf="submitted1 && f1.acceptTerms1.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                    </div>
                    <div class="form-group form-check col-sm-12">
                        <input type="checkbox" formControlName="privacy" id="privacy" class="form-check-input" [ngClass]="{ 'is-invalid': submitted1 && f1.privacy.errors }" [(ngModel)] = "person4.privacy" />
                        <label style ="font-size: 12px;" for="privacy" class="form-check-label"><b>I have read and agree to</b> Multum’s Privacy Policy</label>
                        <div *ngIf="submitted1 && f1.privacy.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                    </div>
                    <div class="text-left">
                         <button [disabled]="!registerForm1.valid" type = "submit" class="btn btn-color">Register</button>
                        
                         <!-- [disabled]="!registerForm1.valid" -->

                    </div>
                </form>
          </div>
          <!-- <div *ngSwitchDefault> <h4>Otherwise</h4> </div> -->
        </div>
        
    
    </div>
    </div>
    
    