.flex1{
    display: flex;
}
.img1{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:35%;
    }
    .none1{
        display: none;
    }
li{
    float:left;
}

li a{
    padding:10px;
    border-radius: 5px;
}

.bg-image{
    background-image:url("src/assets/Images/login-img.jpg");
    height:1100px;
    background-size:cover;
    }

.clippy1{
    background-color:#fff;
    clip-path: circle(50% at 50% 50%);
    width:300px;
    height:300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}
    
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td span.selected,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover 
{
  background-color: #2dfbcd !important; 
}

.bs-datepicker-body table td.week span 
{
  color: #2dfbcd !important; 
}

.red1{
    color:#dc3545;
}

input.ng-touched{
  border:1px solid #dc3545;
}
input.ng-valid{
  border:1px solid #ced4da;
}


    .img{
        width:100%;
        height:750px;
    }
    
    .top1{
        margin-top:100px;
    }
    
    .text1{
        width:295px;
        border-radius:5px;
        height: 35px;
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    
    .center{
        margin-left:auto;
        margin-right:auto;
        display:block;
        width:230px;
    }
    
    .center1{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 205px;
        position: relative;
        top: 50px;
    }
    
    .center2{
        margin-left:auto;
        margin-right:auto;
        display:block;
        width:255px;
    }
    
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
        background-color:#3A3A3A;
        color:#fff;
    }
    
    .nav-pills>li>a, .nav-pills>li.active>a:focus, .nav-pills>li>a{
        background-color:#EBEBEB;
        color:grey;
    }
    
    .nav-pills>li+li{
        margin-left:0px;
    }
    
    .btn-color{
        background-image: linear-gradient(-45deg, #C43A30 0%, #874DA2 100%) !important;
        margin-left:auto;
        margin-right:auto;
        display: block;
        color:#fff;
        font-size:16px;
        width:300px;
    }
    .color1{
        color:#eb34d3;
        font-weight: 600;
    }
    /* responsive css */
    @media (min-width:320px) and (max-width:998px){
        .flex1{
            display: block;
        }
        .bg-image{
            position:relative;
            height:450px;
        }
        .clippy1{
            display: none;
        }
    }