.box2{
    box-shadow: 0 0 4px 0 rgb(144 162 178 / 51%);
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
}

.font1{
    font-weight:bold;
}

.color2{
    color:#ac415b;
    font-weight:bold;
}

.ml-7{
    margin-left:85px;
}

.color3{
    color:grey;
}

.flex1{
    display: flex;
}

/* Media Queries */

@media (min-width:320px) and (max-width:998px){
    .flex1{
        display: block;
    }
    
    .ml-5{
        margin-left:0px !important;
        float:none;
        display:block;
    }
    .ml-4{
        margin-left:0px !important;
        float:none;
        display:block;
    }
    .ml-7{
        margin-left:0px !important;
        float:none;
        display:block;
    }
}