<h4 class = "font1"> My Profile </h4>

    <div class = "none">
        <div class = "box2 flex1">
            <div class = "col-sm-6 bg-color">
                <h4 class = "color2"> Personal Information </h4>
                <b class = "color3"> Name: </b> &nbsp; <b class = "ml-5"> Edwin Wilkins </b>
                <br />
                <b class = "color3"> E-mail: </b> &nbsp; <b class = "ml-5"> edwinwilkins@gmail.com </b>
                <br />
                <b class = "color3"> Phone: </b> &nbsp; <b class = "ml-5"> +1 (838) 502-1018 </b>
                <br />
                <b class = "color3"> Address: </b>  <b class = "ml-5"> 1819 Nulsem Turnpike </b>
                <br />
                <b class = "color3"> Zipcode: </b>   <b class = "ml-5"> 5008 </b>
                
            </div>
            
            <div class = "col-sm-6 bg-color">
                <h4 class = "color2"> Credit Card Information </h4>
                <b class = "color3"> Car Number: </b>  <b class = "ml-4"> 4567 3453 8786 2098 </b>
                <br />
                <b class = "color3"> CVV: </b>  <b class = "ml-7"> **** </b>
                <br />
                <b class = "color3"> Card Expiration: </b>  <b> 20/24 </b>
                
            </div>
                
            </div>
    </div>
    
        <!-- <div class = "none1">
            <div class = "box2 flex1">
                <div class = "col-sm-6 bg-color">
                    <h4 class = "color2"> Personal Information </h4>
                    <b class = "color3"> Name: </b> <br />  <b> Edwin Wilkins </b>
                    <br />
                    <b class = "color3"> E-mail: </b> <br />  <b> edwinwilkins@gmail.com </b>
                    <br />
                    <b class = "color3"> Phone: </b>  <br />  <b> +1 (838) 502-1018 </b>
                    <br />
                    <b class = "color3"> Address: </b>  <br />  <b> 1819 Nulsem Turnpike </b>
                    <br />
                    <b class = "color3"> Zipcode: </b>  <br />  <b> 5008 </b>
                    
                </div>
                
                <div class = "col-sm-6 bg-color">
                    <h4 class = "color2"> Credit Card Information </h4>
                    <b class = "color3"> Car Number: </b>  <br />  <b> 4567 3453 8786 2098 </b>
                    <br />
                    <b class = "color3"> CVV: </b>  <br />  <b> **** </b>
                    <br />
                    <b class = "color3"> Card Expiration: </b>  <br />  <b> 20/24 </b>
                    
                </div>
                    
                </div>
        </div> -->