<div class = "position1">
    <div>
        <h2 class = "font1 top1 text-center"> Post New Job </h2>
        
        <ul class = "progressbar nav nav-pills center">

            <li [class.active] = "viewmode == 'hired'">
                <a>
                
                <div [ngClass]="{'active1': tab==='tab1'}" class = "step1">  </div>
                
                <br />
                   <h4 class = "text-center"> Order Description </h4>
                
                
                </a>
            </li>
            <li [class.active] = "viewmode == 'started'">
                <a> 
                    <div [ngClass]="{'active1': tab==='tab2'}" class = "step2">  </div>
                
                <br />
                   <h4 class = "text-center"> Price </h4>           
                </a>
            </li>
            <li [class.active] = "viewmode == 'completed'">
                <a> 
                    <div [ngClass]="{'active1': tab==='tab3'}" class = "step3">  </div>
                <br />
                <h4 class = "text-center">  Review  </h4>
                </a>
            </li>
            
          </ul>
        </div>
        
</div>
<div class = "clearfix"></div>
<br />

<div class = "center1" [ngSwitch] = "viewmode">
 <form [formGroup] = "jobForm">
    <div *ngSwitchCase = "'hired'">
        <div formGroupName = "personal">
            <div class = "box2">
                <h3 class = "color4"> Order Description </h3>
                <div class = "flex1">
                    <div class = "col-sm-4 ml-0 p-0">
                        <label> Job Title </label>
                        <br />
                        <input type = "text" formControlName = "title" placeholder = "Job Title" class = "text1" [ngClass] = "{ 'is-vaild' : submitted && f.title.errors }" [(ngModel)] = "person.title" />
                        <div class = "invalid-feedback" *ngIf = "submitted && f.title.errors">
                            <div *ngIf = "f.title.errors.required"> Job Title is required </div>
                        </div>
                    </div>
    
                    <div class = "col-sm-4 ml">
                        <label> Date Job Needs to be Done : </label>
                        <br />
                        <input type = "text" bsDatepicker formControlName = "completionDate" [ngClass] = "{ 'is-vaild' : submitted && f.completionDate.errors }" [bsConfig] = "{ containerClass: 'theme-blue' }" placeholder = "Specify Date" class = "text1" [(ngModel)] = "person.completionDate" />
                        <!-- <input type="date" id="input" class="form-control text1" formControlName = "completionDate" data-date-format="MM-dd-yyyy" [ngClass] = "{ 'is-vaild' : submitted && f.completionDate.errors }" placeholder = "Specify Date" [(ngModel)] = "person.completionDate" mdbInput /> -->
    
                        <div class = "invalid-feedback" *ngIf = "submitted && f.completionDate.errors"> 
                            <div *ngIf = "f.completionDate.errors.required"> Job Date is required </div>
                        </div>
                    </div>
    
                    <div class = "col-sm-4">
                        <label> Time Needs to be Done : </label>
                        <br />
                        <!-- <kendo-timepicker class ="text1" formControlName="completionTime" placeholder="Specify time" [(ngModel)] = "person.completionTime" [(value)] = "person.completionTime" ></kendo-timepicker> -->
                        <input type="time"  id="input" class="form-control text1" formControlName="completionTime" placeholder="Specify time" [(ngModel)] = "person.completionTime" mdbInput />
    
                        <div class = "invalid-feedback" *ngIf = "submitted && f.completionTime.errors">
                            <div *ngIf = "f.completionTime.errors.required"> Job Time is required </div>
                        </div>
                    </div>
                    
                </div>
                <br />
                    <div class = "clearfix"></div>
                    <label class = "color4"> What is being picked up </label>
                    <br />
                    <div class = "flex1">
                        <div *ngFor="let item of RADIO_LIST; let i=index">
                            <input type="radio" [value]="item.value" [checked]="item.checked" formControlName="pickupType" [ngClass] = "{'error' : submitted && f.pickupType.errors}" [(ngModel)] = "person.pickupType" />
                            <label>{{item.name}}</label>
                        </div>
                        
                          <span class="error-msg" *ngIf="submitted && f.pickupType.errors?.required">
                            Please select any option above!
                          </span>
                    </div>
                    
                    
                    <div class = "clearfix"></div>
                    <br />
    
                    
                    <ng-container formGroupName = "pickUpAddress">
                       <label class = "color4"> Pick Up Address </label>
                       <br />
                        <div class = "flex1">
                            <div class = "col-sm-4">
                                <input type = "text" class = "form-control text2" placeholder = "street1" formControlName = "street1" [ngClass] = "{'error' : submitted && f.pickUpAddress.controls.street1.errors}" />
                                <div class = "invalid-feedback" *ngIf = "submitted && f.pickUpAddress.controls.street1.errors">
                                    <div *ngIf = "f.pickUpAddress.controls.street1.errors.required"> Street1 is required </div>
                                </div>
                            </div>
                            <div class = "col-sm-4">
                                <input type = "text" class = "form-control text2" placeholder = "landMark" formControlName = "landMark" [ngClass] = "{'error' : submitted && f.pickUpAddress.controls.controls.landMark.errors}" /> 
                                <div class = "invalid-feedback" *ngIf = "submitted && f.pickUpAddress.controls.landMark.errors">
                                    <div *ngIf = "f.pickUpAddress.controls.landMark.errors.required"> Land Mark is required </div>
                                </div>
                            </div>
                            <div class = "col-sm-4">
                                <input type = "text" class = "form-control text2" placeholder = "city" formControlName = "city" [ngClass] = "{'error' : submitted && f.pickUpAddress.controls.city.errors}" />
                                <div class = "invalid-feedback" *ngIf = "submitted && f.pickUpAddress.controls.city.errors">
                                    <div *ngIf = "f.pickUpAddress.controls.city.errors.required"> City is required </div>
                                </div>
                            </div>
                        </div>
    
                        <div class = "flex1">
                            <div class = "col-sm-4">
                                <input type = "text" class = "form-control text2" placeholder = "state" formControlName = "state" [ngClass] = "{'error' : submitted && f.pickUpAddress.controls.state.errors}" />
                                <div class = "invalid-feedback" *ngIf = "submitted && f.pickUpAddress.controls.state.errors">
                                    <div *ngIf = "f.pickUpAddress.controls.state.errors.required"> State is required </div>
                                </div>
                            </div>
                            <div class = "col-sm-4">
                                <input type = "text" class = "form-control text2" placeholder = "zipcode" formControlName = "zipCode" [ngClass] = "{'error' : submitted && f.pickUpAddress.controls.zipCode.errors}" />
                                <div class = "invalid-feedback" *ngIf = "submitted && f.pickUpAddress.controls.zipCode.errors">
                                    <div *ngIf = "f.pickUpAddress.controls.zipcode.errors.required"> Zip Code is required </div>
                                </div>
                            </div>
                            <div class = "col-sm-4">
                                <input type = "text" class = "form-control text2" placeholder = "country" formControlName = "country" [ngClass] = "{'error' : submitted && f.pickUpAddress.controls.country.errors}" />
                                <div class = "invalid-feedback" *ngIf = "submitted && f.pickUpAddress.controls.country.errors">
                                    <div *ngIf = "f.pickUpAddress.controls.country.errors.required"> Country is required </div>
                                </div>
                            </div>
                        </div>
                        
                    </ng-container>
                    <label class = "color4"> Drop Off Address </label>
                    <br />
                    <ng-container formGroupName = "dropOffAddress">
                        <div class = "flex1">
                            <div class = "col-sm-4">
                                <input type = "text" class = "form-control text2" placeholder = "street1" formControlName = "street1" [ngClass] = "{ 'error' : submitted && f.dropOffAddress.controls.street1.errors }" />
                                <div class = "invalid-feedback" *ngIf = "submitted && f.dropOffAddress.controls.street1.errors">
                                    <div *ngIf = "f.dropOffAddress.controls.street1.errors.required"> Street 1 is required </div>
                                </div>
                            </div>
                            <div class = "col-sm-4">
                                <input type = "text" class = "form-control text2" placeholder = "landMark" formControlName = "landMark" [ngClass] = "{ 'error' : submitted && f.dropOffAddress.controls.landMark.errors }" />
                                <div class = "invalid-feedback" *ngIf = "submitted && f.dropOffAddress.controls.landMark.errors">
                                    <div *ngIf = "f.dropOffAddress.controls.landMark.errors.required"> Land Mark is required </div>
                                </div>
                            </div>
                            <div class = "col-sm-4">
                                <input type = "text" class = "form-control text2" placeholder = "city" formControlName = "city" [ngClass] = "{ 'error' : submitted && f.dropOffAddress.controls.city.errors }" />
                                <div class = "invalid-feedback" *ngIf = "submitted && f.dropOffAddress.controls.city.errros">
                                    <div *ngIf = "f.dropOffAddress.controls.city.errors.required"> City is required </div>
                                </div>
                            </div>
                        </div>
                        <div class = "flex1">
                            <div class = "col-sm-4">
                                <input type = "text" class = "form-control text2" placeholder = "state" formControlName = "state" [ngClass] = "{ 'error' : submitted && f.dropOffAddress.controls.state.errors }" />
                                <div class = "invalid-feedback" *ngIf = "submitted && f.dropOffAddress.controls.state.errors">
                                    <div *ngIf = "f.dropOffAddress.controls.state.errors.required"> State is required </div>
                                </div>
                            </div>
                            <div class = "col-sm-4">
                                <input type = "text" class = "form-control text2" placeholder = "zipcode" formControlName = "zipCode" [ngClass] = "{ 'error' : submitted && f.dropOffAddress.controls.zipCode.errors }" />
                                <div class = "invalid-feedback" *ngIf = "submitted && f.dropOffAddress.controls.zipCode.errors">
                                        <div *ngIf = "f.dropOffAddress.controls.zipCode.errors.required"> Zip Code is required </div>
                                </div>
                            </div>
                            <div class = "col-sm-4">
                                <input type = "text" class = "form-control text2" placeholder = "country" formControlName = "country" [ngClass] = "{ 'error' : submitted && f.dropOffAddress.controls.country.errors }" />
                                <div class = "invalid-feedback" *ngIf = "submitted && f.dropOffAddress.controls.country.errros">
                                    <div *ngIf = "f.dropOffAddress.controls.country.errors.required"> Country is required </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class = "clearfix"></div>
                    <div class = "pull-right" (click) = "viewmode = 'started'">
                        <div (click) = "onClick(2)" [ngClass] = "{ 'active1' : tab == 'tab2' }">
                            <button [disabled] = "!f.valid" class = "btn btn-primary" type = "button"> Next </button>
                        </div>
                    </div>
    
            </div>
        </div>
    </div>

    <div *ngSwitchCase = "'started'">
       <div formGroupName = "priceValue">
            <div class = "box3">
                <h3 class = "color4"> Price </h3>
                <div class = "flex1">
                    <div class = "col-sm-6 p-0">
                        <h3 class = "color4"> Choose Price for the job </h3>
                        <select class = "text1 col-sm-9" (change) = "priceChange()" placeholder = "Choose the Price" formControlName = "price" [ngClass] = "{ 'is-vaild' : submitted1 && f1.price.errors }" [(ngModel)] = "person.price">
                            <option *ngFor = "let price of Price" [ngValue] = "price"> {{ price }} </option>
                        </select>
                        <div class = "invalid-feedback" *ngIf = "submitted1 && f1.price.errors">
                            <div *ngIf = "f1.price.errors.required"> Price is required </div>
                            </div>
                        </div>
                        <div class = "col-sm-6 line1 p-0">
                            <h3 class = "color4"> Job Cost Summary </h3>
                            <div class = "bg-color">
                                <span> Job Budget </span>
                                <br />
                        <input type = "text" class = "col-sm-12" placeholder = "Choose the Price" formControlName = "price" [(ngModel)] = "person.price" />
                                <br />
                                <span> Service Fee </span>
                                  <span data-bs-toggle="tooltip" data-bs-placement="right" title="Multum gets 90% of amount adopted from the price">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                                <br />
                                <input type = "text" class = "col-sm-12" placeholder = "Choose the Price" formControlName = "serviceFee" [(ngModel)] = "person.serviceFee" [value] = "person.price * 90/100" />
                                <br />
                                <span> Multum Fee (10%) </span>
                                <span data-bs-toggle="tooltip" data-bs-placement="right" title="Service Provider gets 10% of amount adopted from the price">
                                <i class="fas fa-info-circle"></i>
                                </span>
                                <br />
                                <input type = "text" class = "col-sm-12" placeholder = "Choose the Price" formControlName = "multumFee" [(ngModel)] = "person.multumFee" [value] = "person.price * 10/100" />
                                <br />
                                <b> Total </b>
                                <br />
                                <input type = "text" class = "col-sm-12" placeholder = "Choose the Price" formControlName = "totalPrice" [(ngModel)] = "person.totalPrice" [value] = "person.price" />
                                <br />
                                <div class ="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    
                <br /><br /><br />
                    <div class = "pull-right flex2">
                        <div (click) = "viewmode = 'hired'">
                            <div (click)="onClick(1)" [ngClass]="{'active1': tab==='tab1'}" class = "btn btn1"> Back </div>
                        </div>
                        
                        <div (click) = "viewmode = 'completed'">
                            <div (click)="onClick(3)" [ngClass]="{'active1': tab==='tab3'}"> 
                                <button [disabled] = "!f1.valid" class = "btn btn-primary"> Next </button>
                            </div>
                        </div>
                        
                    </div>
            </div>
      </div>
    </div>

    <div *ngSwitchCase ="'completed'"> 
      <div formGroupName = "review">
            <div class = "col-sm-12 box4">
                <h3 class = "font1"> Review </h3>
                <div class = "flex1">
                    <div class = "col-sm-6">
                        <h4 class = "color4"> Review Your Job </h4>
                        <br />
                        <div class = "bg-color line2">
                            <span> Price </span>
                            <b class = "text-center ml-11">  {{ person.price }} </b>
                            <br />
                            <span> Pickup Address </span>
                            
                            <b class = "text-center ml-6"> <span> {{ jobForm.value.personal.pickUpAddress.street1 | json }} </span> <br />
                                <span class = "ml-7"> {{ jobForm.value.personal.pickUpAddress.landMark | json }} </span> <br />
                                <span class = "ml-7"> {{ jobForm.value.personal.pickUpAddress.city | json }} </span><br />
                                <span class = "ml-7"> {{ jobForm.value.personal.pickUpAddress.state | json }} </span> <br />
                                <span class = "ml-7"> {{ jobForm.value.personal.pickUpAddress.zipCode | json }} </span> <br />
                                <span class = "ml-7"> {{ jobForm.value.personal.pickUpAddress.country | json }} </span><br />
                            </b>
                            <br />
                            <span> Drop off Point </span>

                          <b class = "text-center ml-6">  <span class = "ml-2"> {{ jobForm.value.personal.dropOffAddress.street1 | json }} </span> <br />
                                <span class = "ml-7"> {{ jobForm.value.personal.dropOffAddress.landMark | json }} </span> <br />
                                <span class = "ml-7"> {{ jobForm.value.personal.dropOffAddress.city | json }} </span><br />
                                <span class = "ml-7"> {{ jobForm.value.personal.dropOffAddress.state | json }} </span> <br />
                                    <span class = "ml-7"> {{ jobForm.value.personal.dropOffAddress.zipCode | json }} </span> <br />
                                    <span class = "ml-7"> {{ jobForm.value.personal.dropOffAddress.country | json }} </span>   <br />
                           </b>         
                                  
                            <br /> 
                        
                            <span class = "ml-6"> Date </span>
                            <b class = "text-center ml-31"> {{ person.completionDate | date: 'shortDate' }} </b>
                            <br />
                            <span class = "ml-6"> Time </span>
                            <b class = "text-center ml-31"> {{ person.completionTime }} </b>
                        </div>
                    </div>
    
                    <div class = "col-sm-6">
                        <h3 class ="color4"> Job Cost Breakdown </h3>
                        <br />
                        <div class = "bg-color">
                            <span class = "ml-6"> Job Budget </span>
                            <b class = "ml-8"> {{ person.price }} </b>
                            <br />
                            <span class = "ml-6"> Pickup Address </span>
                            <b class = "ml-6"> {{ jobForm.value.personal.pickUpAddress.street1 | json }} <br />
                               <span class = "ml-9"> {{ jobForm.value.personal.pickUpAddress.landMark | json }} </span>  <br />
                                <span class = "ml-9"> {{ jobForm.value.personal.pickUpAddress.city | json }} </span><br />
                               <span class = "ml-9"> {{ jobForm.value.personal.pickUpAddress.state | json }} </span>  <br />
                                <span class = "ml-9"> {{ jobForm.value.personal.pickUpAddress.zipCode | json }} </span>  <br />
                                 <span class = "ml-9"> {{ jobForm.value.personal.pickUpAddress.country | json }} </span>
                            </b>
                            <br />
                            <span class = "ml-6"> Total </span>
                            <b class = "ml-10"> {{ person.price }} </b>
                            <br />
                            <span class = "ml-6"> Date </span>
                            <b class = "ml-10"> {{ person.completionDate | date: 'shortDate' }} </b>
                            <br />
                            <span class = "ml-6"> Time </span>
                            <b class = "ml-10"> {{ person.completionTime }} </b>
                        </div>
                        <br />
                        <h3 class ="color4"> Credit Card Information </h3>
                        <div class = "bg-color">
                            <span class = "col-sm-6 p-0"> Card Number </span>
                            <input type = "text" class = "text1 col-sm-6" placeholder="Enter the card No" formControlName="cardNumber" [(ngModel)] = "person.cardNumber" />
                            <div *ngIf="submitted2 && f2.cardNumber.errors" class="invalid-feedback">
                                <div *ngIf="f2.cardNumber.required">Card Number is required</div>
                            </div>
                            <br />
                            <div class = "flex1">
                                <div class = "col-sm-6 p-0">
                                    <label> CVV </label>
                                <input type = "password" placeholder="Enter the CVV" class = "text1" formControlName="cardCvv" [(ngModel)] = "person.cardCvv" />
                                <div *ngIf="submitted2 && f2.cardCvv.errors" class="invalid-feedback">
                                    <div *ngIf="f2.cardCvv.required">Card Number is required</div>
                                </div>
                                </div>
                                <div class = "col-sm-6 p-0">
                                    <label> Card Expiration </label>
                                <!-- <input type = "text" class = "text1" placeholder="Card expiry date" formControlName="cardexpiry" [(ngModel)] = "person.cardexpiry" /> -->
                                <input type="text"  class = "text1" placeholder="Card expiry date" formControlName="cardExpirationDate" [(ngModel)] = "person.cardExpirationDate" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/YYYY', isAnimated: true, containerClass:'theme-blue' }" />
                                <div *ngIf="submitted2 && f2.cardExpirationDate.errors" class="invalid-feedback">
                                    <div *ngIf="f2.cardExpirationDate.required">Card Expiry Date is required</div>
                                </div>
                            </div>
                                
                            </div>
                            
                        </div>
    
                    </div>
    
                </div>
                <div class = "pull-right flex2">
                    <div (click) = "viewmode = 'started'">
                        <div (click)="onClick(2)" [ngClass]="{'active1': tab==='tab2'}" class = "btn btn1 top1"> Back </div>
                    </div>
                    <button [disabled] = "!f2.valid" (click) = "addPerson()" class = "btn color5 top1">  Place Order </button>
                </div>
                
            </div>
        </div>
    </div>
 </form>
</div>